body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}


h1, h2 {
    color: #333;
}

#product-list, #shopping-cart, #invoice {
    margin-bottom: 20px;
}

#checkout-button, #continue-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#checkout-button:hover, #continue-button:hover {
    background-color: #218838;
}


#cabecera {
    overflow: hidden;
    background-color: rgb(37, 185, 49);
    margin: auto;
    padding: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
   float: right;
}

.imglogo {
    padding: 10px 10px 10px 10px;
    border-radius: 20px
}


#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100px;
    padding: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: 200px;
    object-fit:contain;
    border-radius: 8px;
}

.product-card h3 {
    margin: 10px 0;
}

.product-card p {
    color: #555;
    font-size: 5px;
}

.product-card button {
    background-color: #f39c12;
    position:relative;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#cart-button {
    position:absolute;
    top: 20px;
    right: 20px;
    background-color: #f39c12;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.product-container {
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
}


#shopping-cart h2 {
    margin-top: 0;
}

/* #shopping-cart {
    position: fixed;
    top: 0;
    right: -300px; /* Fuera de la pantalla 
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    opacity: 0;
    transition: right 0.3s ease, opacity 0.3s ease;
    z-index: 1000;
}

.cart.visible {
    right: 0; /* Dentro de la pantalla 
    opacity: 1;
}*/

#footer{
    display: flex;
    position:relative;
    top: 250px;
    width: 100%;
    height: 100%;
    overflow: hidden;   
    background-color: #28a745;
}

.socialMedia{
   position: relative;
    left: 45%;
    padding: 40px 25px 0px 25px;
    padding-right: 55px;
}

.socialMedia a{
    text-decoration: none;
}

.socialMedia p{
    position: relative;
    right: 105px;
    color: white;
}
/* Estilos generales para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo semi-transparente */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto; /* Centrar verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ajusta el tamaño de la ventana */
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
